body {
}


.container {
    display: flex;
    flex-direction: column;
    margin: 20px;


input {
  color: aqua;
  img {
    width: 100px;
    height: 250px;
    object-fit: contain;
  }
}

.row {
    display: flex;
    text-align: center;
    flex-direction: column;
    
  img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}
.den {
  display: flex;


  .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid;
    padding: 20px;
    margin: 5px;
    img {
      width: 100%;
      height: 250px;
      object-fit: contain;
      border: 2px solid;
      
    }
  }

}

.box {
  border: 5px solid;
  margin: 5px;
  padding: 5px;
  img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
}



}